* { 
    box-sizing: border-box;
}

body {
    background-color:#9bd4e8;
    margin:0;
    font-family: monospace;
}
h1{
    color: #444;
    text-align: center;
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-auto-rows: 400px;
    padding: 20px;
    grid-gap: 10px; /*Espacio entre foto y foto */
}
.gallery__item {
    position: relative;
}
.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*para que no se distorcionen las imagenes*/
}
.gallery__title {
  
    position: absolute;
    bottom: 0;
    color: white;
    background:linear-gradient(rgba(255,255,255,0.5),rgba(0,0, 0, 1));
    width: 100%;
    margin: 0;
    padding: 2px;
}
.gallery__item:nth-child(4) {
    grid-column-start: span 2;
}
.gallery__item:nth-child(7) {
    grid-column-start: span 2;
}
.gallery__item:nth-child(9) {
    grid-column-start: span 2;
}
